src/main/resources/xml/cardPositions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cardsPosition" type="cardsPositionType"/>
  <xs:complexType name="cardType">
    <xs:sequence>
      <xs:element name="X">
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:enumeration value="916"/>
            <xs:enumeration value="963"/>
            <xs:enumeration value="1311"/>
            <xs:enumeration value="1359"/>
            <xs:enumeration value="518"/>
            <xs:enumeration value="566"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Y">
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:enumeration value="678"/>
            <xs:enumeration value="745"/>
            <xs:enumeration value="304"/>
            <xs:enumeration value="371"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="position" use="optional"/>
  </xs:complexType>
  <xs:complexType name="playerType">
    <xs:sequence>
      <xs:element type="cardType" name="card" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="deckType">
    <xs:sequence>
      <xs:element type="xs:byte" name="X"/>
      <xs:element type="xs:byte" name="Y"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discardDeckType">
    <xs:sequence>
      <xs:element type="xs:byte" name="X"/>
      <xs:element type="xs:byte" name="Y"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cardsPositionType">
    <xs:sequence>
      <xs:element type="playerType" name="player" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="deckType" name="deck"/>
      <xs:element type="discardDeckType" name="discardDeck"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>